@media screen and (max-width:600px) {
  
 
    header {
      flex-flow: row wrap;
      display: flex;

       
    }
    div.links { 
      display: flex;
      flex-flow: row wrap;
      flex: 1 1 auto;
      
       
       
       
       
       
       
  
    }
    div.links > a {
      display: flex;
      flex-flow: row wrap;
     width: 40vw;
    }
    
    article {
    display: none;
    
      
    }
    header> span.material-symbols-outlined {
      display: block;
      color: white;
        margin: auto;
        padding: 10px; 
          cursor: pointer;
          margin-top: 25px;
    }
     main {
    
    width: 80%;
    margin: auto;
    padding: 10px;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-items: space-around;
       

     }
    h2 {
      font-size: 2.5em;
    }
   aside {
    flex-flow: column;
   }
   img {
    display: none;
    width: 380px;
   }
   form {
    margin: 0 auto;
   }
   input {
    align-self: center;
    width: 280px;
   }
 






   }  